.aside {
  background-color: black;
  width: 7cm;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.logo {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11%;
}

.logo h1 {
  font-size: 27px;
  color: #F53E28;
}

.upload-video {
  /* background: blue; */
  width: 100%;
  height: 81%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.custom-file-upload-label {
  border-radius: 14px;
  cursor: pointer;
  margin-left: 60px;
  border: 1px solid;
  padding: 4px 23px;
  color: white;
}

.custom-file-upload-label:hover
{
  border: 2px solid #F53E28;
}

.upload-other {
  width: 100%;
  /* background: red; */
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-other p {
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 14px;
}

.upload-other p:hover{
  color: #F53E28;
}

.Section {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 7cm);
  height: 100%;
}

.Section-Title {
  /* background: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section-content {
  height: 79%;
  display: flex;
  justify-content: center;
}

.Section-content img {
  width: calc(3cm + 5px);
  height: calc(3cm + 5px);
}


.user-infor {
  display: flex;
  height: 8%;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}

.upload-video form {
  width: 100%;
  height: 50px;
}

.videos-place {
  height: 80%;
}

#videos {
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.upload-video form input
{
  display: none;
}

.user-infor-img {
  /* background: blue; */
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 12px;
}

img#setting, img#bookmark {
  margin-top: 9px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

#user{
  border-radius: 30px;
}