.aside {
  background-color: black;
  width: 7cm;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.logo {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11%;
}

.logo h1 {
  font-size: 27px;
  color: #F53E28;
}

.upload-video {
  /* background: blue; */
  width: 100%;
  height: 81%;
  display: flex;
  justify-content: center;
}

.upload-video button {
  width: 88%;
  height: 7%;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}

.upload-video button:hover
{
  border: 2px solid #F53E28;
}

.upload-other {
  width: 100%;
  /* background: red; */
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-other p {
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 14px;
}

.upload-other p:hover{
  color: #F53E28;
}

.Section {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 7cm);
  height: 100%;
}

.Section-Title {
  /* background: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section-content {
  height: 80%;
  display: flex;
  justify-content: center;
}

.Section-content img {
  width: calc(3cm + 5px);
  height: calc(3cm + 5px);
}

.user-infor {
  display: flex;
  height: 8%;
  flex-direction: row-reverse;
  align-items: center;
  width: 99%;
}

.user-infor img{
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 2px;
}